<!-- Static navigation header -->
<nav
  class="flex w-full bg-blue-600 text-white justify-between items-center px-3 py-2"
>
  <h4 class="text-sm font-bold tracking-tight">
    {{ title }}
  </h4>
  <div>
    <h1 class="text-xs font-bold">Reports</h1>
  </div>
</nav>

<!-- Main content -->
<main class="max-w-5xl mx-auto p-4">
  <div class="grid grid-cols-12 gap-y-4 gap-x-2">
    <!-- Iterate over layout groups -->
    <div
      *ngFor="let group of layoutResponse?.layout"
      [ngSwitch]="group.type"
      [ngClass]="{
        'col-span-1': group.width === 1,
        'col-span-2': group.width === 2,
        'col-span-3': group.width === 3,
        'col-span-4': group.width === 4,
        'col-span-5': group.width === 5,
        'col-span-6': group.width === 6,
        'col-span-7': group.width === 7,
        'col-span-8': group.width === 8,
        'col-span-9': group.width === 9,
        'col-span-10': group.width === 10,
        'col-span-11': group.width === 11,
        'col-span-12': group.width === 12
      }"
    >
      <!-- DATA_POINT case -->
      <div *ngSwitchCase="'DATA_POINT'" class="">
        <div
          class="text-[12px] font-semibold tracking-tighter border-b mb-2 py-1"
        >
          {{ group.label }}
        </div>
        <div class="grid grid-cols-12 gap-2">
          <!-- Iterate over elements in a group -->
          <div
            *ngFor="let element of group?.elements"
            [ngClass]="{
              'col-span-1': element.width === 1,
              'col-span-2': element.width === 2,
              'col-span-3': element.width === 3,
              'col-span-4': element.width === 4,
              'col-span-5': element.width === 5,
              'col-span-6': element.width === 6,
              'col-span-7': element.width === 7,
              'col-span-8': element.width === 8,
              'col-span-9': element.width === 9,
              'col-span-10': element.width === 10,
              'col-span-11': element.width === 11,
              'col-span-12': element.width === 12
            }"
          >
            <div class="flex flex-col gap-1">
              <!-- Label -->

              <div class="text-[10px] font-semibold">
                {{ getFieldLabel(element.name) }}
              </div>

              <!-- Value -->

              <span class="font-semibold">
                {{ getFieldValuePrefix(element.name)
                }}{{
                  getFieldValue(element.name)
                    | number : getElementDigitsInfo(element.name)
                }}{{ getFieldValueSuffix(element.name) }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- DATA_SET case -->

      <div *ngSwitchCase="'DATA_SET'">
        <h2 class="text-xs mb-2">{{ group.label }}</h2>

        <div *ngFor="let element of group?.elements" [ngSwitch]="group.type">
          <table class="min-w-full">
            <thead>
              <tr class="h-8">
                <th
                  *ngFor="let field of element?.fields"
                  class="p-1 border-b-2 border-gray-200 text-left text-[10px] border-t"
                >
                  {{ getFieldLabel(field.name) }}
                </th>
              </tr>
            </thead>

            <tbody>
              <!-- Iterate over the dataset rows -->
              <tr
                *ngFor="
                  let row of getDatasetTableRowsByName(group?.name || '');
                  let i = index
                "
                [ngClass]="{ 'bg-gray-200/20': i % 2 !== 0 }"
                class="h-8"
              >
                <!-- For each row, iterate over the fields to display each cell value -->

                <td
                  *ngFor="let field of element?.fields"
                  class="p-1 border-b border-gray-200 text-[12px]"
                >
                  <ng-container
                    *ngIf="isNumber(row[field.name]); else notNumber"
                  >
                    {{ getFieldValuePrefix(field.name)
                    }}{{
                      row[field.name]
                        | number : getElementDigitsInfo(field.name)
                    }}{{ getFieldValueSuffix(field.name) }}
                  </ng-container>
                  <ng-template #notNumber>{{ row[field.name] }} </ng-template>
                </td>
              </tr>

              <!-- Display the "Total" row -->

              <tr class="h-8 border-black border-t-2">
                <td
                  *ngFor="let field of element?.fields; let i = index"
                  class="text-[12px]"
                >
                  <ng-container
                    *ngIf="
                      isNumber(getDatasetColumnTotal(group.name, field.name));
                      else notNumber
                    "
                  >
                    {{ getFieldValuePrefix(field.name)
                    }}{{
                      getDatasetColumnTotal(group.name, field.name)
                        | number : getElementDigitsInfo(field.name)
                    }}{{ getFieldValueSuffix(field.name) }}
                  </ng-container>

                  <ng-template #notNumber>
                    <ng-container *ngIf="i === 0; else other">
                      Total
                    </ng-container>
                    <ng-template #other></ng-template>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Render nothing if the group type is not recognized -->
      <div *ngSwitchDefault>{{ null }}</div>
    </div>
  </div>
</main>

<router-outlet />
